<!DOCTYPE html>
<html>
	<head>
		<title>Penny Pincher</title>
  	<script src="js/lib/require.js" data-main="js/src/boot"></script>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>

 		<script type="text/html" id='change-purse'>			
			<% if(coins.length >= 1){ %>			
			<ol class="change-purse">
				<% _.each(coins,function(coin){ %>			
				<li><%=coin[0]%> &#215; <%=coin[1]%></li>
				<% }) %>
			</ol>				
			<% } else { %>
			<div class="empty-purse">
				That doesn't seem right.
			</div>				
			<% } %>
		</script>

		<h1>The Penny Pincher</h1>
		<div id="penny-pincher"> 			
		  <form class="amount-form">
				<label for="amount">Enter an amount (e.g. &#163;123.45):</label> 
				<input type="text" id="amount" name="amount" class="amount"/>
			</form>
			<div class="results">
								
			</div>
		</div>	
		<p>Have a look at the <a href="js/test/index.html">tests</a>.</p>
	</body>
</html>
